digraph ThreatModel {
  rankdir=LR;
  node [shape=box];
  edge [fontsize=10];
  splines=true;
  overlap=false;
  nodesep=0.5;
  ranksep=0.6;
  charset="UTF-8";

  {% macro render_boundary(boundary) %}
  subgraph cluster_{{ boundary.safe_name }} {
    label="{{ boundary.escaped_name }}";
    "{{ boundary.hidden_node_name }}" [style=invis, width=0, height=0, label=""];
    {% if not boundary.is_trusted %}
    fontsize=10;
    {% endif %}
    style="{{ boundary.style_parts | join(',') }}";
    {% if boundary.is_filled %}
    fillcolor="{{ boundary.color }}";
    {% else %}
    fillcolor="none";
    {% endif %}
    {% if not boundary.is_trusted %}
    color=black;
    {% else %}
    color=red;
    penwidth=3;
    {% endif %}
    {% for actor in boundary.actors %}
    "{{ actor.escaped_name }}" {{ actor.node_attrs }};
    {% endfor %}
    {% for server in boundary.servers %}
    "{{ server.escaped_name }}" {{ server.node_attrs }};
    {% endfor %}
    {% for child_boundary in boundary.children %}
      {{ render_boundary(child_boundary) }}
    {% endfor %}
  }
  {% endmacro %}

  {% for boundary in boundaries %}
    {{ render_boundary(boundary) }}
  {% endfor %}

  {% for actor in actors_outside_boundaries %}
  "{{ actor.escaped_name }}" {{ actor.node_attrs }};
  {% endfor %}

  {% for server in servers_outside_boundaries %}
  "{{ server.escaped_name }}" {{ server.node_attrs }};
  {% endfor %}

  {% for dataflow in dataflows %}
  "{{ dataflow.escaped_source }}" -> "{{ dataflow.escaped_dest }}" [{{ dataflow.direction }}label="{{ dataflow.label }}"{{ dataflow.edge_attributes }}, fontsize=7, {{ dataflow.class_attribute }}];
  {% endfor %}
}
